body {
  min-width: 1010px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Heebo', sans-serif;
}


header {
  background-image: url(../finalproject/image/TurboTitle.png);
  display: block;
  height: 160px;
  background-size: cover;
}

/*registiration*/
.registiration {
  background-color: #292929;
  position: relative;
}
.registiration .phonecontact {
  color: #dadada;
  font-family: 'Krub', sans-serif;
  font-size: 15px;
  line-height: 40px;
  float: right;
  margin-right: 16%;
}
.registiration a {
  color: white;
  text-decoration: none;
}
.registiration a .turboAzborder {
  width: 255px;
  background-color: #c30c0c;
  border-top: 1px solid #c30c0c;
  height: 96px;
  margin-top: 15px;
  position: absolute;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px -4px 4px 0 rgba(0, 0, 0, 0.5);
}
.registiration a .turboAzborder p {
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding-top: 18px;
}
.registiration a .turboAzborder span {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
.registiration .language a {
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  text-decoration: none;
  font-family: 'Krub', sans-serif;
  float: right;
}
.registiration .options a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  text-decoration: none;
  font-family: 'Krub', sans-serif;
  float: right;
}
.registiration .options a .heartIcon {
  padding-left: 25px;
  font-size: 18px;
  padding-right: 2px;
}
.registiration .register a {
  margin-left: 8px;
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  text-decoration: none;
  font-family: 'Krub', sans-serif;
  float: right;
  padding-left: 15px;
  margin-right: 15px;
}
.registiration .register a .userIcon {
  padding-right: 8px;
  font-size: 16px;
  padding-left: 15px;
}

/*domains*/
.domains {
  background-color: #292929;
}
.domains .domainsbackground {
  background-color: #424242;
  display: flex;
  border-top: 1px solid #616161;
  width: 1010px;
  cursor: pointer;
}
.domains .domainsborder {
  border-right: 1px solid #616161;
  width: 252px;
  height: 70px;
  transition: 0.3s;
}
.domains .domainsborder p {
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding-top: 18px;
  text-align: center;
  letter-spacing: 2px;
}
.domains .domainsborder p a {
  color: white;
  text-decoration: none;
}

.binahover:hover {
  background: #b88668;
}

.taphover:hover {
  background: #ff6617;
}

.bosshover:hover {
  background: #f6a72a;
}

/*Navbar*/
.navbar {
  height: 50px;
  background-color: #c30c0c;
}
.navbar nav ul {
  margin: 0;
  padding: 0;
  position: relative;
}
.navbar nav ul a {
  text-decoration: none;
  color: white;
}
.navbar nav ul li {
  float: left;
  width: 123px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 600;
  cursor: pointer;
  z-index: 999;
}
.navbar nav ul li:hover {
  background-color: #e71a21;
}
.navbar nav .navStors {
  width: 188px;
}
.navbar nav .navAccessories {
  width: 260px;
  position: absolute;
  margin-left: 42%;
}
.navbar nav .navAccessories ul {
  display: none;
}
.navbar nav .navAccessories:hover
ul {
  -webkit-box-shadow: 0 2px 6px 0 rgba(97, 97, 97, 0.5);
  box-shadow: 0 2px 6px 0 rgba(97, 97, 97, 0.5);
  height: 399px;
  display: block;
}
.navbar nav .navAccessories:hover
ul a {
  color: #000;
}
.navbar nav .navAccessories:hover
ul li {
  background-color: white;
  width: 260px;
  display: none;
}
.navbar nav .navAccessories:hover
ul li:hover {
  background: #F2F4F8;
}
.navbar nav ul .navAccessories:hover ul li {
  display: block;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  float: left;
}
.navbar .elanYerlesdir {
  height: 50px;
  width: 228px;
  background-color: #7ed321;
  float: right;
  text-align: center;
  line-height: 3;
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 900;
  color: white;
  text-decoration: none;
}
.navbar .elanYerlesdir .plasIcon {
  font-size: 26px;
  margin-top: 12px;
  float: left;
  padding-left: 37px;
}
.navbar .elanYerlesdir span {
  float: left;
  padding-left: 10px;
}

.elanYerlesdir:hover {
  background-color: #85BF1E;
}

/*simple form search*/
.simple-form-search {
  height: 119px;
  background-color: #D8D8D8;
  display: flex;
  box-shadow: 0 0 11px 0 rgba(111, 110, 110, 0.5);
}
.simple-form-search .wideSearch-markas {
  width: 190px;
  height: 115px;
}
.simple-form-search .wideSearch-markas select {
  padding-left: 9px;
  padding-right: 31px;
  height: 32px;
  border: 1px solid white;
  margin-left: 23px;
  margin-top: 19px;
  background-color: white;
  font-size: 16px;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.8px;
  background-image: url(https://turbo.azstatic.com/assets/application/select_triangle_gray-38118e1e5792c555029e3d5106c132600b954bff0511410d6e831af34f581767.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  -webkit-appearance: none;
  outline: none;
}
.simple-form-search .wideSearch-markas .markas {
  margin-top: 15px;
}
.simple-form-search .wideSearch-priceandYear {
  width: 340px;
  height: 115px;
  margin-top: -3px;
}
.simple-form-search .wideSearch-priceandYear .optionalPrice {
  margin-top: 22px;
}
.simple-form-search .wideSearch-priceandYear label {
  padding: 5px;
  border: 1px solid white;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  font-size: 16px;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.8px;
  padding-right: 8px;
  padding-left: 8px;
}
.simple-form-search .wideSearch-priceandYear .currency {
  height: 32px;
  border: 1px solid white;
  margin-left: -2px;
  background-image: url(https://turbo.azstatic.com/assets/application/select_triangle_gray-38118e1e5792c555029e3d5106c132600b954bff0511410d6e831af34f581767.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-color: white;
  font-size: 16px;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.8px;
  border-radius: 0px;
  -webkit-appearance: none;
  padding-right: 24px;
  padding-left: 10px;
  outline: none;
}
.simple-form-search .wideSearch-priceandYear .optionalMin {
  width: 84px;
  height: 28px;
  border: 1px solid white;
  margin-left: -2px;
  background-color: white;
  font-size: 16px;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.8px;
  outline: none;
}
.simple-form-search .wideSearch-priceandYear .optionalMax {
  width: 84px;
  height: 28px;
  border: 1px solid white;
  margin-left: -2px;
  background-color: white;
  font-size: 16px;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
}
.simple-form-search .wideSearch-priceandYear .enterYear {
  margin-top: 15px;
}
.simple-form-search .wideSearch-priceandYear .year {
  padding-left: 9px;
  padding-right: 25px;
}
.simple-form-search .wideSearch-priceandYear .yearMin {
  width: 100px;
}
.simple-form-search .wideSearch-priceandYear .yearMax {
  padding-right: 11px;
}
.simple-form-search .wideSearch-barterCredit {
  width: 260px;
  height: 115px;
}
.simple-form-search .wideSearch-barterCredit .checkBox {
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  width: 89px;
  height: 32px;
  margin-top: 19px;
  border: 1px solid white;
  margin-left: 10px;
  background-color: white;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 7px;
}
.simple-form-search .wideSearch-barterCredit .checkBox label {
  cursor: pointer;
}
.simple-form-search .wideSearch-barterCredit .barter {
  margin-top: 15px;
}
.simple-form-search .wideSearch-barterCredit .allCity {
  position: absolute;
  margin-left: 92px;
  padding-left: 9px;
  padding-right: 31px;
  height: 32px;
  border: 1px solid white;
  margin-top: -8px;
  background-color: white;
  font-size: 16px;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.8px;
  background-image: url(https://turbo.azstatic.com/assets/application/select_triangle_gray-38118e1e5792c555029e3d5106c132600b954bff0511410d6e831af34f581767.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  -webkit-appearance: none;
  outline: none;
}
.simple-form-search .wideSearch-barterCredit .dailyAds {
  position: absolute;
  margin-top: -8px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  width: 155px;
  height: 32px;
  border: 1px solid white;
  margin-left: 92px;
  background-color: white;
  color: #C91F32;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 8px;
  padding-top: 7px;
}
.simple-form-search .wideSearch .search {
  width: 178px;
  height: 33px;
  border-radius: 4px;
  background-color: #c30c0c;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 22px;
  margin-top: 18px;
  cursor: pointer;
  outline: none;
}
.simple-form-search .wideSearch .moreSearch {
  width: 178px;
  position: absolute;
  height: 25px;
  border-radius: 4px;
  background-color: #797979;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 15px;
  cursor: pointer;
  margin-left: 23px;
  padding-top: 7px;
}

/*vip elanlar*/
.vipAll {
  padding: 0px 20px;
  height: 60px;
  border-bottom: 1px solid #efefef;
}
.vipAll .vipElanlar {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 25px;
  -webkit-font-smoothing: antialiased;
}
.vipAll a {
  font-size: 16px;
  color: #0f68cf;
  display: inline-block;
  text-decoration: underline;
  margin-left: 25px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
.vipAll .logoText {
  float: right;
  color: #F00;
  font-size: 14px;
  line-height: 58px;
  font-family: 'Heebo', sans-serif;
}
.vipAll img {
  margin-right: -31px;
  float: right;
  width: 100px;
  padding-top: 19px;
  display: inline;
}

/*Produscts*/
.products {
  background-color: #FAFAFA;
  padding-left: 20px;
  padding-top: 29px;
}

.productBorder {
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(218, 218, 218, 0.54);
  height: 252px;
  padding: 0px;
  margin-right: 15px;
  margin-bottom: 17px;
  border-radius: 2px;
  width: 228px;
}
.productBorder :hover {
  background-color: #E5F0FD;
}

.onliCar {
  cursor: pointer;
}
.onliCar img {
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
}
.onliCar .likeIcon {
  position: absolute;
  color: white;
  opacity: 0.8;
  font-size: 23px;
  padding-left: 10px;
  padding-top: 8px;
  cursor: pointer;
  background: transparent;
}
.onliCar .productPrice {
  background-color: #C91F32;
  color: white;
  position: absolute;
  margin-top: -34px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  padding: 0 10px;
  z-index: 800;
}
.onliCar .productPrice :hover {
  background-color: #C91F32;
}
.onliCar .productsInfo {
  position: relative;
  padding: 10px 10px;
}
.onliCar .productsInfo .carName {
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  word-spacing: 1px;
  color: black;
}
.onliCar .productsInfo .carInfo p {
  display: inline-block;
  position: relative;
  font-family: 'Sarabun', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  line-height: 2;
}
.onliCar .productsInfo .carInfo p span {
  width: 3px;
  height: 3px;
  background-color: #000;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 4px;
  display: inline-block;
  content: '';
  border-radius: 50%;
}
.onliCar .productsInfo .enterDay {
  font-size: 13px;
  color: #969696;
  font-family: 'Sarabun', sans-serif;
}
.onliCar .productsInfo .enterDay i {
  float: right;
  color: orangered;
  font-size: 15px;
}

/*Son elanlar*/
.vipAll .allShow {
  float: right;
  padding-top: 23px;
}

/*Avtosalonlar*/
.shops-header-Container {
  background-color: #FAFAFA;
  padding: 20px;
}
.shops-header-Container .shops-container {
  background-color: #E5F0FD;
  padding: 25px 0px;
}
.shops-header-Container .shopsHeader {
  font-family: 'Heebo', sans-serif;
  line-height: 1.2;
  font-size: 17px;
  padding: 0px 20px 20px;
}
.shops-header-Container .shopsHeader p {
  display: inline-block;
  color: #2e2e2e;
  font-weight: bold;
}
.shops-header-Container .shopsHeader a {
  float: right;
  color: #0f68cf;
  font-weight: 500;
}
.shops-header-Container .shopsHeader :hover {
  text-decoration: none;
}
.shops-header-Container .shops {
  display: flex;
  -webkit-justify-content: center;
}
.shops-header-Container .shops .salonlar-Logo-Container {
  margin: 0 8px;
  width: 173px;
  background-color: #549EF8;
  border-radius: 2px;
}
.shops-header-Container .shops .salonlar-Logo-Container :hover {
  background-color: #4482CC;
}
.shops-header-Container .shops .salonlar-Logo-Container .salonlarLogo {
  cursor: pointer;
}
.shops-header-Container .shops .salonlar-Logo-Container .salonlarLogo img {
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
}
.shops-header-Container .shops .salonlar-Logo-Container .salonlarName {
  position: relative;
  padding: 7px 0px;
}
.shops-header-Container .shops .salonlar-Logo-Container .salonlarName p {
  font-size: 17px;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  color: white;
  text-align: center;
}

/*Sirketler*/
.shops-header-Container .companies {
  background-color: #eef0f7;
}
.shops-header-Container .shops .companiesLogo {
  border-radius: 2px;
  background-color: #9499a4;
}
.shops-header-Container .shops .companiesLogo :hover {
  background-color: #666C7A;
}
.shops-header-Container .shops .companiesLogo .salonlarLogo .companiesName p {
  text-align: inherit;
  padding-left: 8px;
}
.shops-header-Container .shops .companiesLogo .salonlarLogo .companiesName span {
  color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  padding-left: 8px;
}

/*Butun markalar*/
.markalarHeader p {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  border-bottom: 1px solid #efefef;
}

.allMarkasSection {
  background-color: #FAFAFA;
}
.allMarkasSection .allMarkasContainer {
  width: 25%;
  float: left;
  font-family: 'Heebo', sans-serif;
  background-color: #FAFAFA;
  padding: 20px 0px;
}
.allMarkasSection .allMarkasContainer .allMarkas {
  line-height: 23px;
}
.allMarkasSection .allMarkasContainer .allMarkas p {
  display: inline-block;
  width: 60px;
  text-align: right;
  color: #999;
  font-size: 15px;
}
.allMarkasSection .allMarkasContainer .allMarkas span {
  width: 3px;
  height: 3px;
  background-color: #999;
  display: inline-block;
  content: '';
  border-radius: 50%;
  margin: 4px 7px;
}
.allMarkasSection .allMarkasContainer .allMarkas a {
  display: inline-block;
  color: #186d9f;
  text-decoration: none;
  font-size: 15px;
  vertical-align: top;
  max-width: 160px;
  margin-bottom: 5px;
}

/*Footer*/
.footer .contact {
  height: 150px;
  background-color: #444;
  border-top: 4px solid red;
  padding: 20px;
}
.footer .contact a {
  color: white;
  font-size: 14px;
  font-family: 'Heebo', sans-serif;
  display: flex;
  -webkit-font-smoothing: antialiased;
}
.footer .contact :hover {
  text-decoration: none;
}
.footer .contact .qaunQaydalar {
  display: flex;
  padding: 20px 0px;
}
.footer .contact .qaunQaydalar .qanun {
  padding-left: 30px;
}
.footer .contact p {
  font-family: 'Heebo', sans-serif;
  color: #ccc;
  font-size: 14px;
}
.footer .contact p span {
  color: white;
  font-size: 17px;
  padding-right: 10px;
}
.footer .contact .phone-and-email {
  display: flex;
  padding: 20px 0px;
}
.footer .contact .phone-and-email p {
  margin-right: 10px;
}
.footer .contact .phone-and-email i {
  padding-right: 10px;
  color: White;
  font-size: 15px;
}
.footer .contact .phone-and-email a {
  color: #ccc;
}
.footer .contact .phone-and-email :hover {
  text-decoration: none;
}
.footer .contact .col-7 {
  margin-left: 45px;
}
.footer .contact .col-7 p {
  font-size: 13px;
  color: #979797;
}
.footer .contact .col-7 .adminstrasiyaQanunu {
  padding-bottom: 15px;
}
.footer .contact .col-7 a {
  margin-top: 15px;
}
.footer .contact .col-7 :hover {
  text-decoration: none;
}
.footer .contact .col-2 a {
  margin-left: 40px;
}

/*Turbo-register */
.mainRegister {
  display: flex;
  height: 630px;
}
.mainRegister .emailShifre {
  font-size: 15px;
  color: #333;
  width: 175px;
  font-family: 'Heebo', sans-serif;
  padding: 0px 20px;
}
.mainRegister .emailShifre p {
  margin: 29px 0px;
}
.mainRegister .emailShifre .pasword {
  margin: 36px 0px;
}
.mainRegister .input-and-button {
  position: relative;
}
.mainRegister .input-and-button input {
  display: block;
  width: 260px;
  height: 28px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 20px 0px;
  font-size: 15px;
  outline: none;
}
.mainRegister .input-and-button button {
  font-size: 17px;
  padding: 8px 9px;
  border-radius: 6px;
  background-color: #82101B;
  color: white;
  border: 1px solid;
  margin-top: -7px;
  font-family: 'Heebo', sans-serif;
  cursor: pointer;
}
.mainRegister .input-and-button button:hover {
  background-color: #c71b25;
}
.mainRegister .input-and-button a {
  color: #186d9f;
  font-size: 15px;
  float: right;
}

/*Unudulmus-sifre*/
.user-report-text {
  font-size: 15px;
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  padding-top: 25px;
  padding-left: 20px;
}

/*Avtosalonlar" navbarin icerisinde*/
.container-stors {
  display: inline-block;
}
.container-stors .avtostors {
  text-decoration: none;
  color: #3b3b3b;
}
.container-stors .stors {
  display: flex;
  margin: 10px 0px;
  width: 465px;
  margin-left: 25px;
  height: 145px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px 2px rgba(201, 199, 199, 0.66);
  box-shadow: 0 0 3px 2px rgba(201, 199, 199, 0.66);
}
.container-stors .stors .stors-logo {
  background-image: url(https://turbo.azstatic.com/uploads/f352x352/2017%2F12%2F05%2F15%2F31%2F20%2F107%2FLogo.png);
  background-size: cover;
  width: 147px;
  display: inline-block;
  border-radius: 10px 0px 0px 10px;
}
.container-stors .stors .stors-logo span {
  border-radius: 2px;
  letter-spacing: 1px;
  background-color: #3D8CEA;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 9px;
  padding: 4px;
  float: right;
  margin: 5px;
}
.container-stors .stors .stors-contents {
  width: 317px;
  border-radius: 0px 10px 10px 0px;
  font-family: 'Heebo', sans-serif;
  padding-left: 13px;
}
.container-stors .stors .stors-contents .stors-contents-title {
  font-size: 19px;
  font-weight: 600;
  padding-top: 12px;
}
.container-stors .stors .stors-contents .stors-contents-description {
  padding-top: 5px;
  font-size: 14px;
  line-height: 1.2;
}
.container-stors .stors .stors-contents .stors-contents-contact {
  font-size: 14px;
  color: #9b9b9b;
  padding: 14px 0px;
}
.container-stors .stors .stors-contents .stors-contents-contact i {
  color: #8BD1F4;
  margin-right: 6px;
}
.container-stors .stors .stors-contents span {
  color: #22a7f0;
  font-size: 13px;
}
.container-stors .stors:hover {
  box-shadow: 0 0 2px 4px #c9171d;
}
.container-stors .stors:hover .stors-logo {
  border-right: 2px solid red;
}

/*"Magazalar ve shirketler" navbarin icerisinde*/
.container-companies {
  display: inline-block;
}
.container-companies .compani-stor {
  text-decoration: none;
  color: #3b3b3b;
}
.container-companies .compani {
  display: flex;
  margin: 10px 0px;
  width: 468px;
  margin-left: 25px;
  height: 170px;
  -webkit-box-shadow: 0 0 3px 2px rgba(201, 199, 199, 0.66);
  box-shadow: 0 0 3px 2px rgba(201, 199, 199, 0.66);
}
.container-companies .compani .compani-logo {
  background-image: url(https://turbo.azstatic.com/uploads/f352x352/2018%2F09%2F24%2F10%2F00%2F30%2Fc2b22867-5538-4992-b351-adf480e13b51%2FMitsubishilogo.jpg);
  background-size: cover;
  width: 171px;
  display: inline-block;
  border-right: 1px solid rgba(201, 199, 199, 0.66);
}
.container-companies .compani .compani-contents {
  border-radius: 0px 10px 10px 0px;
  font-family: 'Heebo', sans-serif;
  padding-left: 13px;
}
.container-companies .compani .compani-contents .compani-contents-Name {
  font-size: 17px;
  font-weight: 500;
  padding-top: 18px;
  margin-bottom: 12px;
}
.container-companies .compani .compani-contents .compani-contents-location {
  padding-top: 13px;
  font-size: 14px;
  line-height: 1.2;
  color: #747474;
}
.container-companies .compani .compani-contents .compani-contents-location i {
  color: #666C7A;
  margin-right: 7px;
  font-size: 18px;
}
.container-companies .compani .compani-contents .compani-contents-contact {
  font-size: 14px;
  color: #747474;
  padding: 16px 0px;
}
.container-companies .compani .compani-contents .compani-contents-contact i {
  color: #666C7A;
  margin-right: 6px;
  font-size: 19px;
}
.container-companies .compani .compani-contents span {
  color: #2eb265;
  font-size: 14px;
}

/*Elan yerlesdirmek*/
.first-number {
  height: 177px;
}

.admin-warning {
  font-family: 'Heebo', sans-serif;
}
.admin-warning p {
  line-height: 3;
  font-size: 21px;
  font-weight: 600;
  -webkit-font-smoothing: inherit;
  padding-left: 20px;
}
.admin-warning ul {
  margin-left: 20px;
  list-style-type: disc;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 100;
}

.car-type-add {
  font-size: 14px;
  font-weight: 100;
  color: #333;
  margin: 15px 0px;
  display: flex;
}
.car-type-add .left-side {
  padding-left: 20px;
}
.car-type-add .right-side {
  padding-left: 50px;
}
.car-type-add .car-type-choose {
  margin: 19px 0px;
}
.car-type-add .car-type-choose label {
  margin: 9px 0px;
  position: absolute;
}
.car-type-add .car-type-choose label ::after {
  content: '*';
  color: #c51e2b;
}
.car-type-add .car-type-choose .sellect-choose {
  margin-left: 177px;
}
.car-type-add .car-type-choose .sellect-choose select {
  border: 1px solid #ccc;
  padding-left: 9px;
  height: 32px;
  width: 277px;
  background-color: white;
  font-size: 14px;
  color: #333;
  background-image: url(https://turbo.azstatic.com/assets/application/select_triangle_gray-38118e1e5792c555029e3d5106c132600b954bff0511410d6e831af34f581767.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  -webkit-appearance: none;
  outline: none;
}
.car-type-add .car-type-choose .sellect-choose input {
  border: 1px solid #ccc;
  padding-left: 9px;
  height: 29px;
  width: 265px;
  background-color: white;
  font-size: 14px;
  color: #333;
  border-radius: 5px;
  outline: none;
}
.car-type-add .car-type-choose .sellect-choose .price {
  width: 110px;
}
.car-type-add .car-type-choose .sellect-choose .valyuta-azn {
  margin-left: 5px;
  position: absolute;
}
.car-type-add .car-type-choose .sellect-choose .valyuta-usd {
  position: absolute;
  margin-left: 55px;
}
.car-type-add .car-type-choose .sellect-choose .valyuta-eur {
  position: absolute;
  margin-left: 105px;
}
.car-type-add .car-type-choose .sellect-choose .valyuta {
  width: 19px;
}
.car-type-add .car-type-choose .sellect-choose label {
  margin: 12px 23px;
}

.credit-barter-text-section {
  display: flex;
}
.credit-barter-text-section .more-information p {
  margin-top: 65px;
  font-size: 14px;
  font-weight: 100;
  color: #333;
  margin-left: 20px;
  margin-right: 85px;
}
.credit-barter-text-section .credit-addMoreInformation {
  display: grid;
  width: 790px;
  font-size: 15px;
  font-weight: normal;
  color: #333;
  gap: 5px;
}
.credit-barter-text-section .credit-addMoreInformation input {
  width: 14px;
  height: 14px;
}
.credit-barter-text-section .credit-addMoreInformation .credit {
  position: absolute;
  margin: 4px 22px;
}
.credit-barter-text-section .credit-addMoreInformation .barter {
  position: absolute;
  margin: 29px 22px;
}
.credit-barter-text-section .credit-addMoreInformation textarea {
  outline: none;
  max-width: 775px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 15px;
}
.credit-barter-text-section .credit-addMoreInformation p {
  color: #888;
  font-size: 14px;
}

.Vehicle-supply {
  font-size: 22px;
  font-weight: 500;
  padding-left: 20px;
  display: flow-root;
}
.Vehicle-supply p {
  margin: 10px 0px;
}
.Vehicle-supply .chekboxs .col-3 {
  width: calc(100%/12*3 - 20px);
  display: grid;
  gap: 7px;
}
.Vehicle-supply .chekboxs input {
  width: 15px;
  height: 15px;
}
.Vehicle-supply .chekboxs label {
  font-size: 15px;
  font-weight: 100;
  color: #333;
}

.add-image p {
  padding: 0px 20px;
  margin: 20px 0px;
  font-size: 22px;
  font-weight: 500;
}
.add-image .col-12 {
  border: 1px solid #c2cde5;
  margin-bottom: 20px;
  height: 160px;
}
.add-image .col-12 .image-text {
  max-width: 320px;
  margin: 20px 0px;
}
.add-image .col-12 .image-text ul {
  font-size: 14px;
  line-height: 1.4;
  color: #9b9b9b;
  margin-left: 20px;
}
.add-image .col-12 .image-text ul li {
  margin-bottom: 10px;
}

.col-6 ul {
  list-style: none;
  font-size: 15px;
  color: #9b9b9b;
  line-height: 1.5;
}
.col-6 ul li {
  margin-bottom: 17px;
  list-style: disc;
  margin-left: 20px;
}

.enter-contact-number p {
  display: inline-grid;
  padding: 0px 20px;
  margin: 20px 0px;
  font-size: 22px;
  font-weight: 500;
  gap: 20px;
}
.enter-contact-number span {
  font-size: 14px;
  font-weight: normal;
  color: #9b9b9b;
}
.enter-contact-number .about-yourself {
  margin: 12px 0px;
}
.enter-contact-number .about-yourself label {
  font-size: 14px;
  color: #333;
  margin: 9px 0px;
  position: absolute;
}
.enter-contact-number .about-yourself label ::after {
  content: '*';
  color: #c51e2b;
}
.enter-contact-number .about-yourself .Name-choose {
  margin-left: 177px;
}
.enter-contact-number .about-yourself .Name-choose select {
  border: 1px solid #ccc;
  padding-left: 9px;
  height: 32px;
  width: 277px;
  background-color: white;
  font-size: 14px;
  color: #333;
  background-image: url(https://turbo.azstatic.com/assets/application/select_triangle_gray-38118e1e5792c555029e3d5106c132600b954bff0511410d6e831af34f581767.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  -webkit-appearance: none;
  outline: none;
}
.enter-contact-number .about-yourself .Name-choose input {
  border: 1px solid #ccc;
  padding-left: 9px;
  height: 29px;
  width: 265px;
  background-color: white;
  font-size: 14px;
  color: #333;
  border-radius: 5px;
  outline: none;
}
.enter-contact-number .about-yourself .email-secrutiy {
  margin-left: 18%;
}

.thick-line {
  width: 100%;
  height: 9px;
  background-color: #eaeaea;
}

.advertisement-type p {
  font-weight: 500;
  font-size: 19px;
  margin: 25px;
}
.advertisement-type .vip-and-sinple .col-6 {
  margin: 25px 0px;
}
.advertisement-type .vip-and-sinple .vip-elan-et {
  border-radius: 8px;
  width: 435px;
  height: 299px;
  background-repeat: no-repeat;
  background-color: #6d2a98;
  -webkit-box-shadow: 0 5px 15px 0 #aa4bf2;
  box-shadow: 0 5px 15px 0 #aa4bf2;
  background-image: url(image/reddiamond.png);
  background-size: 250px 240px;
  background-position-y: 43px;
  background-position-x: 270px;
}
.advertisement-type .vip-and-sinple .vip-elan-et .number-of-visits-more {
  width: 180px;
  height: 90px;
  margin-left: 22px;
  background-color: #fac732;
}
.advertisement-type .vip-and-sinple .vip-elan-et .number-of-visits-more .col-6 span.ten {
  font-size: 40px;
  font-weight: bold;
  color: #6d2a98;
  position: absolute;
  margin: -1px 23px;
}
.advertisement-type .vip-and-sinple .vip-elan-et .number-of-visits-more .col-6 span.times {
  font-size: 19px;
  font-weight: 500;
  color: #6d2a98;
  position: absolute;
  margin: 17px 28px;
}
.advertisement-type .vip-and-sinple .vip-elan-et .number-of-visits-more .col-6 .text {
  font-family: 'Heebo', sans-serif;
  margin: 6px -15px;
  font-size: 20px;
  color: #6d2a98;
  position: absolute;
}
.advertisement-type .vip-and-sinple .vip-text p {
  font-size: 25px;
  color: white;
  margin-left: 38px;
  margin-top: 19px;
  margin-bottom: 7px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
.advertisement-type .vip-and-sinple .vip-text .spantext {
  color: white;
  font-size: 14px;
  margin-left: 36px;
  line-height: 1.3;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}
.advertisement-type .vip-and-sinple .vip-button button {
  padding: 13px 33px;
  font-size: 19px;
  border-radius: 30px;
  margin: 21px 23%;
  color: #6d2a98;
  font-weight: 500;
  outline: none;
}
.advertisement-type .vip-and-sinple .vip-button :hover {
  color: #06d064;
  border: 2px solid #00d764;
}
.advertisement-type .sade-elan-et {
  border-radius: 8px;
  width: 435px;
  height: 299px;
  background-repeat: no-repeat;
  background-color: #def2fe;
  -webkit-box-shadow: 0 1px 5px 0 #cbcaca;
  box-shadow: 0 1px 5px 0 #cbcaca;
  background-size: 250px 240px;
  background-position-y: 43px;
  background-position-x: 270px;
}
.advertisement-type .sade-elan-et .number-of-visits-more {
  width: 180px;
  height: 90px;
  margin-left: 22px;
  background: #4a8ad7;
}
.advertisement-type .sade-elan-et .number-of-visits-more .col-6 span.times {
  font-size: 19px;
  font-weight: 500;
  color: #3e3e3e;
  position: absolute;
  margin: 39px 28px;
}
.advertisement-type .sade-elan-et .number-of-visits-more .text {
  margin: 0px 15px;
  font-size: 18px;
  padding: 24px 0px;
}
.advertisement-type .sade-elan-et .number-of-visits-more .text span {
  font-family: 'Heebo', sans-serif;
  color: white;
}
.advertisement-type .sade-text p {
  font-size: 25px;
  color: #3e3e3e;
  margin-left: 38px;
  margin-top: 19px;
  margin-bottom: 7px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
.advertisement-type .sade-text .spantext {
  color: #3e3e3e;
  font-size: 14px;
  margin-left: 36px;
  line-height: 1.3;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}
.advertisement-type .sade-button button {
  padding: 13px 33px;
  font-size: 19px;
  border-radius: 30px;
  margin: 21px 23%;
  color: #4a87d3;
  -webkit-box-shadow: 0 2px 4px 0 #4a8ad7;
  box-shadow: 0 2px 4px 0 #4a8ad7;
  font-weight: 500;
  outline: none;
}
.advertisement-type .sade-button :hover {
  color: #06d064;
  border: 2px solid #00d764;
}
.advertisement-type .rules-and-laws p {
  margin: 0 auto 22px;
  font-size: 14px;
  color: #4e4e4e;
  font-weight: 100;
}
.advertisement-type .rules-and-laws p a {
  color: #22a7f0;
}
